<%- include('partials/links.ejs') %>
    <div>
        <form method="post" action="/update/<%= postId %>">
            <input type="text" name="title" value="<%= postTitle %>"><br>
            <textarea rows="25" cols="70" name="blogArea"><%= postEdit %></textarea>
            <button type="submit">Make change</button>
        </form>
    </div>
<%- include('partials/footer.ejs') %>